/.vs/HomeCloud/v16/.suo
/.vs/HomeCloud/v16/Server/sqlite3/db.lock
/.vs/HomeCloud/v16/Server/sqlite3/storage.ide
/.vs/HomeCloud/v16/Server/sqlite3/storage.ide-shm
/.vs/HomeCloud/v16/Server/sqlite3/storage.ide-wal
/.vs/HomeCloud/DesignTimeBuild/.dtbcache
/HomeCloud.API/bin/Debug/netcoreapp3.1/appsettings.Development.json
/HomeCloud.API/bin/Debug/netcoreapp3.1/appsettings.json
/HomeCloud.API/bin/Debug/netcoreapp3.1/HomeCloud.API.deps.json
/HomeCloud.API/bin/Debug/netcoreapp3.1/HomeCloud.API.dll
/HomeCloud.API/bin/Debug/netcoreapp3.1/HomeCloud.API.exe
/HomeCloud.API/bin/Debug/netcoreapp3.1/HomeCloud.API.pdb
/HomeCloud.API/bin/Debug/netcoreapp3.1/HomeCloud.API.runtimeconfig.dev.json
/HomeCloud.API/bin/Debug/netcoreapp3.1/HomeCloud.API.runtimeconfig.json
/HomeCloud.API/bin/Debug/netcoreapp3.1/Properties/launchSettings.json
/HomeCloud.API/obj/Debug/netcoreapp3.1/HomeCloud.API.AssemblyInfo.cs
/HomeCloud.API/obj/Debug/netcoreapp3.1/HomeCloud.API.AssemblyInfoInputs.cache
/HomeCloud.API/obj/Debug/netcoreapp3.1/HomeCloud.API.assets.cache
/HomeCloud.API/obj/Debug/netcoreapp3.1/HomeCloud.API.csproj.FileListAbsolute.txt
/HomeCloud.API/obj/Debug/netcoreapp3.1/HomeCloud.API.csprojAssemblyReference.cache
/HomeCloud.API/obj/Debug/netcoreapp3.1/HomeCloud.API.dll
/HomeCloud.API/obj/Debug/netcoreapp3.1/HomeCloud.API.exe
/HomeCloud.API/obj/Debug/netcoreapp3.1/HomeCloud.API.MvcApplicationPartsAssemblyInfo.cache
/HomeCloud.API/obj/Debug/netcoreapp3.1/HomeCloud.API.pdb
/HomeCloud.API/obj/Debug/netcoreapp3.1/HomeCloud.API.RazorTargetAssemblyInfo.cache
/HomeCloud.API/obj/Debug/netcoreapp3.1/staticwebassets/HomeCloud.API.StaticWebAssets.Manifest.cache
/HomeCloud.API/obj/Debug/netcoreapp3.1/staticwebassets/HomeCloud.API.StaticWebAssets.xml
/HomeCloud.API/obj/HomeCloud.API.csproj.nuget.cache
/HomeCloud.API/obj/HomeCloud.API.csproj.nuget.dgspec.json
/HomeCloud.API/obj/HomeCloud.API.csproj.nuget.g.props
/HomeCloud.API/obj/HomeCloud.API.csproj.nuget.g.targets
/HomeCloud.API/obj/project.assets.json
/HomeCloud.UI/bin/Debug/netcoreapp3.1/appsettings.Development.json
/HomeCloud.UI/bin/Debug/netcoreapp3.1/appsettings.json
/HomeCloud.UI/bin/Debug/netcoreapp3.1/HomeCloud.UI.deps.json
/HomeCloud.UI/bin/Debug/netcoreapp3.1/HomeCloud.UI.dll
/HomeCloud.UI/bin/Debug/netcoreapp3.1/HomeCloud.UI.exe
/HomeCloud.UI/bin/Debug/netcoreapp3.1/HomeCloud.UI.pdb
/HomeCloud.UI/bin/Debug/netcoreapp3.1/HomeCloud.UI.runtimeconfig.dev.json
/HomeCloud.UI/bin/Debug/netcoreapp3.1/HomeCloud.UI.runtimeconfig.json
/HomeCloud.UI/bin/Debug/netcoreapp3.1/HomeCloud.UI.Views.dll
/HomeCloud.UI/bin/Debug/netcoreapp3.1/HomeCloud.UI.Views.pdb
/HomeCloud.UI/bin/Debug/netcoreapp3.1/Properties/launchSettings.json
/HomeCloud.UI/obj/Debug/netcoreapp3.1/HomeCloud.UI.AssemblyInfo.cs
/HomeCloud.UI/obj/Debug/netcoreapp3.1/HomeCloud.UI.AssemblyInfoInputs.cache
/HomeCloud.UI/obj/Debug/netcoreapp3.1/HomeCloud.UI.assets.cache
/HomeCloud.UI/obj/Debug/netcoreapp3.1/HomeCloud.UI.csproj.CopyComplete
/HomeCloud.UI/obj/Debug/netcoreapp3.1/HomeCloud.UI.csproj.FileListAbsolute.txt
/HomeCloud.UI/obj/Debug/netcoreapp3.1/HomeCloud.UI.dll
/HomeCloud.UI/obj/Debug/netcoreapp3.1/HomeCloud.UI.exe
/HomeCloud.UI/obj/Debug/netcoreapp3.1/HomeCloud.UI.MvcApplicationPartsAssemblyInfo.cache
/HomeCloud.UI/obj/Debug/netcoreapp3.1/HomeCloud.UI.pdb
/HomeCloud.UI/obj/Debug/netcoreapp3.1/HomeCloud.UI.RazorAssemblyInfo.cache
/HomeCloud.UI/obj/Debug/netcoreapp3.1/HomeCloud.UI.RazorAssemblyInfo.cs
/HomeCloud.UI/obj/Debug/netcoreapp3.1/HomeCloud.UI.RazorCoreGenerate.cache
/HomeCloud.UI/obj/Debug/netcoreapp3.1/HomeCloud.UI.RazorTargetAssemblyInfo.cache
/HomeCloud.UI/obj/Debug/netcoreapp3.1/HomeCloud.UI.RazorTargetAssemblyInfo.cs
/HomeCloud.UI/obj/Debug/netcoreapp3.1/HomeCloud.UI.TagHelpers.input.cache
/HomeCloud.UI/obj/Debug/netcoreapp3.1/HomeCloud.UI.TagHelpers.output.cache
/HomeCloud.UI/obj/Debug/netcoreapp3.1/HomeCloud.UI.Views.dll
/HomeCloud.UI/obj/Debug/netcoreapp3.1/HomeCloud.UI.Views.pdb
/HomeCloud.UI/obj/Debug/netcoreapp3.1/Razor/Pages/_ViewImports.cshtml.g.cs
/HomeCloud.UI/obj/Debug/netcoreapp3.1/Razor/Pages/_ViewStart.cshtml.g.cs
/HomeCloud.UI/obj/Debug/netcoreapp3.1/Razor/Pages/Error.cshtml.g.cs
/HomeCloud.UI/obj/Debug/netcoreapp3.1/Razor/Pages/Index.cshtml.g.cs
/HomeCloud.UI/obj/Debug/netcoreapp3.1/Razor/Pages/Privacy.cshtml.g.cs
/HomeCloud.UI/obj/Debug/netcoreapp3.1/Razor/Pages/Shared/_Layout.cshtml.g.cs
/HomeCloud.UI/obj/Debug/netcoreapp3.1/Razor/Pages/Shared/_ValidationScriptsPartial.cshtml.g.cs
/HomeCloud.UI/obj/Debug/netcoreapp3.1/staticwebassets/HomeCloud.UI.StaticWebAssets.Manifest.cache
/HomeCloud.UI/obj/Debug/netcoreapp3.1/staticwebassets/HomeCloud.UI.StaticWebAssets.xml
/HomeCloud.UI/obj/HomeCloud.UI.csproj.nuget.cache
/HomeCloud.UI/obj/HomeCloud.UI.csproj.nuget.dgspec.json
/HomeCloud.UI/obj/HomeCloud.UI.csproj.nuget.g.props
/HomeCloud.UI/obj/HomeCloud.UI.csproj.nuget.g.targets
/HomeCloud.UI/obj/project.assets.json
